<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Rafid Al-Humaimidi - MTS @ Cohere</title>
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rafid.ai/">
    <meta property="og:title" content="Rafid Al-Humaimidi - MTS @ Cohere">
    <meta property="og:description" content="Member of Technical Staff @ Cohere. I build machine learning systems with a focus on search and retrieval to power RAG architectures.">
    <meta property="og:image" content="https://rafid.ai/assets/images/rafid.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://rafid.ai/">
    <meta property="twitter:title" content="Rafid Al-Humaimidi - MTS @ Cohere">
    <meta property="twitter:description" content="Member of Technical Staff @ Cohere. I build machine learning systems with a focus on search and retrieval to power RAG architectures.">
    <meta property="twitter:image" content="https://rafid.ai/assets/images/rafid.jpg">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <div class="page-title">
        <div>
          <h1 class="project-name">
            Rafid Al-Humaimidi
          </h1>
          <h2 class="project-tagline" style="text-align: left;">
            Member of Technical Staff @ Cohere
          </h2>
          <div>I build ML systems for search and retrieval to power RAG architectures.</div>
        </div>
        <div class="logo-container">
          <img src="/assets/images/rafid.jpg" class="logo" />
        </div>
      </div>

      <nav class="nav-buttons">
        <a href="/assets/resume/Rafid_Resume.pdf" target="_blank" class="btn">Resume</a>
        <a href="https://github.com/rafidka" target="_blank" class="btn">GitHub</a>
        <a href="https://linkedin.com/in/rafidka" target="_blank" class="btn">LinkedIn</a>
        <a href="https://medium.com/@rafidka/" target="_blank" class="btn">Medium</a>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
